.Article {
    width: 48%;
    height: 400px;
    background: #142850;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 30px;
    box-shadow: 0px 4px 4px rgba(20, 40, 80, 0.25);
    position: relative;
}
.Article:hover {
    box-shadow: none;
}
.Article__card {
    padding: 30px 50px;
}
.Article__title {
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 6px;
}
.Article__author {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #00a8cc;
    padding-bottom: 24px;
}
.Article__content {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    height: 225px;
    word-wrap: break-word;
    overflow: hidden;
}
.Article__readFull {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #00a8cc;
    position: absolute;
    right: 50px;
    bottom: 30px;

    display: flex;
}
.Article__readFullText {
    padding-right: 8px;
}
.Article__readFull:hover {
    opacity: 0.8;
    cursor: pointer;
}
