.Header {
    background-color: #142850;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}
.Header__container {
    display: flex;
    justify-content: space-between;
}
.Header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    width: 500px;
}
