.CryptoChart {
    width: 100%;
    height: 660px;
    background-color: #142850;
    border-radius: 10px;
}
.CryptoChart__container {
    width: 80%;
    margin: auto;
    padding: 24px 0px;
}
.CryptoChart__header {
    display: flex;
    justify-content: space-between;
}
.CryptoChart__result {
    font-weight: 600;
    font-size: 24px;
    color: #00a8cc;
    padding-bottom: 36px;
}
.CryptoChart__period {
    display: flex;
}
